# 함수 정의와 호출
- print() , type() 내장 함수

## 인자도 반환 값도 없는 함수

In [1]:
def my_func():
    print("My first function!")
    print("This is a function.")

In [2]:
my_func()

My first function!
This is a function.


## 인자는 있으나 반환 값이 없는 함수

In [3]:
def my_friend(friendname):
    print("{}는 나의 친구입니다.".format(friendname))

In [6]:
my_friend("민트")
my_friend("초코")

민트는 나의 친구입니다.
초코는 나의 친구입니다.

In [8]:
def my_student_info(name, school_ID, phoneNumber):
    print("--------------------------")
    print("- 학생이름:",name)
    print("- 학급번호:",school_ID)
    print("- 전화번호", phoneNumber)

In [9]:
my_student_info("현아","01","12345")
my_student_info("진수","02","34234")

--------------------------
- 학생이름: 현아
- 학급번호: 01
- 전화번호 12345
--------------------------
- 학생이름: 진수
- 학급번호: 02
- 전화번호 34234

## 인자도 있고 반환 값도 있는 함수

In [11]:
def my_calc(x, y):
    z = x * y
    return z

In [12]:
my_calc(3,5)

15

# 변수의 유효 범위

In [14]:
a = 5

def fun1():
    a =1
    print("[func1] 지역 변수 a=", a)
    
def fun2():
    a =2
    print("[func2] 지역 변수 a=", a)

def fun3():
    print("[fun3] 전역 변수 a=", a)

def fun4():
    global a
    a = 4
    print("[func4] 전역 변수 a=", a)

In [15]:
fun1()
fun2()
fun3()
fun4()

[func1] 지역 변수 a= 1
[func2] 지역 변수 a= 2
[fun3] 전역 변수 a= 5
[func4] 전역 변수 a= 4

In [16]:
a

4

### global [변수]
- 선언 시 전역변수의 내용 변경 가능

# 03 람다(lambda) 함수

# 04 유용한 내장 함수

## 형 변환 함수
- int()  
실수나 문자열을 정수로 변환
- float()  
정수나 문자열 -> 실수
- str()  
정수나 실수 -> 문자열

In [18]:
[int(0.123),
int(3.434234),
int(-1.34231)]

[0, 3, -1]

In [19]:
[float(0), float(123), float(-567)]

[0.0, 123.0, -567.0]

In [20]:
[str(123), str(3456), str(-987)]

['123', '3456', '-987']

### 리스트, 튜플, 세트형으로 변환

- list()
- tuple()
- set()

## bool 함수
- bool()  
True 혹은 False의 결과를 반환
- 인자가 숫자  
0이면 False  
0 이외의 숫자 True

In [22]:
bool(0)

False

In [23]:
[bool(1) , bool(-10),  bool(5.12), bool(-3.26) ]

[True, True, True, True]

- 문자열을 인자로 bool 함수 호출  
문자열이 있으면 True 없으면 False  
빈 문자열인지 아닌지 확인용
- 주의 : 공백은 문자열 맞음

In [24]:
bool('a')

True

In [25]:
bool(' ')

True

In [26]:
bool('')

False

In [27]:
bool(None)

False

- 리스트, 튜플, 세트를 인자로 bool 함수 호출  
항목이 있으면 True, 없으면 False 반환

In [29]:
myFriends = []
bool(myFriends)

False

In [30]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
bool(myFriends)

True

In [31]:
myNum = ()
bool(myNum)

False

In [33]:
setA = {}
bool(setA)

False

In [34]:
setA = {10,20,30}
bool(setA)

True

- bool 함수의 활용

In [35]:
def print_name(name):
    if bool(name): # bool은  조건에 사용된다고 함 
        print("입력된 이름:", name)
    else:
        print("입력된 이름이 없습니다.")

In [36]:
print_name("eve")

입력된 이름: eve

In [37]:
print_name("")

입력된 이름이 없습니다.

## 최솟값과 최댓값을 구하는 함수
- min(), max()  
리스트, 튜플, 세트의 항목이나 문자열 중에서 각각 최솟값과 최댓값 반환  
문자열도 가능  
  
## 절댓값과 전체 합을 구하는 함수
- abs()
- sum()
  
## 항목의 개수를 구하는 함수
- len()

### 내장 함수의 활용

In [43]:
scores = [90, 80, 95, 85]

score_sum = 0
subject_num = 0

for score in scores:
    score_sum = score_sum + score
    subject_num = subject_num + 1
    
average = score_sum / subject_num 

print("총점:{0}, 평균:{1}".format(score_sum, average))

총점:350, 평균:87.5

In [44]:
scores = [90, 80, 95, 85]

print("총점:{0}, 평균:{1}".format(sum(scores),sum(scores)/len(scores)))

총점:350, 평균:87.5